body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration:none;
 }

* {
    box-sizing: border-box;
}

header {
    background-color: black;
    border: 20px solid #2c3e50;
    font-family: 'Sriracha', cursive;
    height:100%;
}

header h1{
    margin:0px;
    color: #f7f7f7;
}

.title-top h1{
    text-align: center;
    animation-name: title-top;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-top{
    0%{
     color: #ff6161;
     text-shadow: 2px 2px 20px #ff0000;
    }
    80%{
     color: #ff6161;
     text-shadow: 2px 2px 20px #ff0000;
    }
    81%{
     color: #f7f7f7;
     text-shadow: none;
    }
 }

.title-middle {
    text-align: center;
    animation-name: title-middle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-middle{
    0%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    20%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    21%{
        color: #4763ff;
        text-shadow: 2px 2px 20px #0000ff;
    }

    80%{
        color: #4763ff;
        text-shadow: 2px 2px 20px #0000ff;
    }
    81%{
     color: #f7f7f7;
     text-shadow: none;
    }
 }

.title-bottom {
    text-align: center;
    animation-name: title-bottom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-bottom{
    0%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    40%{
        color: #f7f7f7;
        text-shadow: unset;
    }
    41%{
        color: #5eff7e;
        text-shadow: 2px 2px 20px #00ff00;
    }

    80%{
        color: #5eff7e;
        text-shadow: 2px 2px 20px #00ff00;
    }
    81%{
        color: #f7f7f7;
        text-shadow: none;
    }
 }

main {
  background-image: url(white-painted-wall-1939485.jpg);
  background-size: cover;
  margin-top:-12.5px;
  margin-bottom: 5px;
  height:100%;
}
.top-wrapper h3 {
  padding-left: 100px;
}

h1,h3 {
  font-size: 20px;
  color:#2c3e50;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.img-1 {
  position: relative;
  height:100px;
  width:200px;
}

.message-wrapper h2 {
  margin-top: -45px;
  padding-left: 220px;
  font-weight: bold;
  font-size: 15px;
}

p1 {
  position: absolute;
  width: 60%;
  top:0 px;
  margin-left: 20px;
}


.btn {
  margin-top: -35px;
  padding:5px 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor:default;
  box-shadow:0 3px black;
  transition: all 1s;
}

.btn-1 {
  margin-top: -35px;
  padding:5px 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor:default;
  box-shadow:0 3px black;
  transition: all 1s;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right:5px;
}

.instagram {
  background-color: #8e44ad;
  margin-left: 220px;
  margin-right: 10px;
}

.instagram-1 {
  background-color: #8e44ad;
  margin-left: 320px;
  margin-right: 10px;
}

.twitter {
  background-color:#55acee;
  margin-right: 10px;
}

.twitter-1 {
  background-color:#55acee;
  margin-right: 10px;
}

.inbox {
  background-color: #d63031;
}

.inbox-1 {
      background-color: #d63031;
  }

.img-2 {
  position: relative;
  height:100px;
  width:200px;
  margin-left: 100px;
}

p2 {
  position: absolute;
  width: 60%;
  top:0 px;
  margin-left: 20px;
}

.message-wrapper h4{
  margin-top: -45px;
  padding-left: 320px;
  font-weight: bold;
  font-size: 15px;
}

footer{
  height: 125px;
  background-color: black;
  background-size: cover;
  border-top: 10px solid #2c3e50;
  margin:0;
}

.logo-1 {
  margin-top:-30px;
}

.logo-2 {
  margin-top: -20px;
}

.footer-right {
  float:right;
  margin-right: 10px;
}

.footer-left {
  float:left;
  margin-left: 10px;
}

h5,h6 {
  font-size: 20px;
  color:white;
  margin-top: 0px;
}

.footer-left h5 {
  border-bottom: 2px solid blue;
}
